{% extends "app/base_owner.html" %}

{% block head_title %}Paymentgateway | Razorpay{% endblock %}



{% block content%}

              <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Bordered table</h4>
                      <p class="card-description"> Add class <code>.table-bordered</code>
                      </p>
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Description</th>
                            <!-- <th>Progress</th> -->
                            <th>Amount</th>
                            <th>Users</th>
                            <th>Delete</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td><input class="form-control" type="text" value="Water + Tanker Charges"></td>
                            <!-- <td>
                              <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </td> -->
                            
                            <td>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">₹</span>
                                </div>
                                <input class="form-control" type="number" value="77.99">
                              </div>
                            </td>
                            <td>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                            edit
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <button class="btn btn-primary mb-4"> Select all</button>
                                    <button class="btn btn-danger mb-4"> Remove all</button>
                                    
                                    

                                    {% for s in sm %}
                                    <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                        <input type="checkbox" checked=true aria-label="Checkbox for following text input">
                                        </div>
                                    </div>
                                        <input type="text" class="form-control" aria-label="Text input with checkbox" value="{{s.user.first_name}} {{s.user.last_name}}" disabled>
                                    </div>
                                    {% endfor %}


                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                                </div>
                            </div>
                            </div>
                            </td>
                            <td><button class="btn btn-danger" onclick="del_det()"><i class="mdi mdi-delete"></i></button></td>
                          </tr>
                        </tbody>
                      </table>

                      <button class="btn btn-success p-2 m-3" onclick="add_det()">ADD New Detail</button>
                      <!-- <button class="btn btn-success p-2 m-3" onclick="del_det()">ADD New Detail</button> -->

                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <input type=text id="billdet" name="billdet" value="{}"  hidden>
                        <button class="btn btn-secondary m-4 p-2" type="submit"> SUBMIT BILL DETAILS</button>
                    </form>
                  </div>
                </div>
              </div>
{% endblock content %}  


{% block extra_scripts %} 
    <!-- Custom Js -->
    <script>
        var data = {"det":[]};
        // var detail={"desc":"", "amount":0.0, "id":[]};
        var selectall=[];
        var selectallname=[];
        
        {% for s in sm %}
            selectall.push({{s.id}});
            selectallname.push("{{s.user.first_name}} {{s.user.last_name}}");
        {% endfor %}

        updatetable();

        function removeall(cls, ind){
            var inputs = document.querySelectorAll(cls);
            for (var i = 0; i < inputs.length; i++) {   
                inputs[i].checked = false;
                // console.log(inputs[i].checked)
            }
            data["det"][ind]["id"]=[];
        }

        function selectallbtn(cls, ind){
            var inputs = document.querySelectorAll(cls);
            for (var i = 0; i < inputs.length; i++) {   
                inputs[i].checked = true;
            }
            data["det"][ind]["id"]=selectall;
        }

        function edit_desc(ind,pos){
            new_value = document.getElementById(ind)
            data["det"][pos]["desc"]=new_value.value;
            updatetable();
        }

        function edit_amt(ind,pos){
            new_value = document.getElementById(ind)
            data["det"][pos]["amt"]=new_value.value;
            updatetable();
        }

        function edit_users(qs, ind){
            data["det"][ind]["id"]=[];
            var inputs = document.querySelectorAll(qs);
            for (var i = 0; i < inputs.length; i++) {   
                if (inputs[i].checked){
                    data["det"][ind]["id"].push(selectall[i]);
                }
            }
            updatetable();
            
        }

        function add_det(){
            newdet={"desc":"Nothing", "amt":0.0, "id":[]};
            data["det"].push(newdet);
            updatetable();
        }

        function del_det(ind){
            data["det"].splice(ind,1);
            updatetable();
        }

        function ischecked(bool){
            if (bool){
                return "checked=true";
            }
            return "";
        }

        function updatetable(){
            var tbd = document.querySelector("tbody");
            ihtml = "";
            for(let i=0; i<data["det"].length;i++){
                cbhtml="";
                for(let j=0;j<selectall.length;j++){
                    tc = ischecked(data["det"][i]["id"].includes(selectall[j]));
                    // console.log(tc, data["det"][i]["id"].includes(selectall[j]), selectall[j],data["det"][i]["id"])
                    cbhtml+=`
                        <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                            <input class="cbc cbc${i}" type="checkbox" ${tc}>
                            </div>
                        </div>
                            <input type="text" class="form-control" value="${selectallname[j]}" disabled>
                        </div>
                    `;
                }

                ihtml +=
                `
            <tr>
                <td>${i+1}</td>
                <td><input class="form-control" id="desc${i}" onchange="edit_desc('desc${i}',${i})" type="text" value="${data["det"][i]["desc"]}"></td>
                
                <td>
                    <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">₹</span>
                    </div>
                    <input class="form-control" id="amt${i}" onchange="edit_amt('amt${i}',${i})" type="number" value="${data["det"][i]["amt"]}">
                    </div>
                </td>
                <td>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalLong${i}">
                edit
                </button>
                <span class="badge badge-info text-white ml-3 rounded">${data["det"][i]["id"].length}</span>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalLong${i}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle${i}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle${i}">${data["det"][i]["desc"]}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body modalbody${i}">
                        <button class="btn btn-primary mb-4" onclick="selectallbtn('.cbc${i}', ${i})"> Select all</button>
                        <button class="btn btn-danger mb-4" onclick="removeall('.cbc${i}', ${i})"> Remove all</button>
                        
                        

                        ${cbhtml}


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="edit_users('.cbc${i}', ${i})" data-dismiss="modal" >Save changes</button>
                    </div>
                    </div>
                </div>
                </div>
                </td>
                <td><button class="btn btn-danger" onclick="del_det(${i})"> <i class="mdi mdi-delete"></i> </button></td>
                </tr>

            `;
                
            }
            tbd.innerHTML=ihtml;
            for(let i=0; i<data["det"].length;i++){
                cboxs = document.querySelectorAll(`.modalbody${i} > div > div > div > .cbc`);
                for (var j = 0; j < cboxs.length; j++) {
                    cboxs[j].checked == data["det"][i]["id"].includes(selectall[j]);
                    // console.log(cboxs.checked,data["det"][i]["id"].includes(selectall[j]));
                }
            }
            ip = document.getElementById("billdet");
            ip.value=JSON.stringify(data);
        }

    </script>

{% endblock extra_scripts%}