{% extends "app/base_owner.html" %}

{% block head_title %}Dashboard | Committee Member{% endblock %}

{% block content%}
                <div class="row p-3">
                  <div class="col-xl-3 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
                    <div class="card bg-primary" style="background-image: linear-gradient(45deg,var(--cui-primary-start,#321fdb) 0%,var(--cui-primary-stop,#1f1498 100%));">
                      <div class="card-body px-3 py-4">
                        <div class="d-flex justify-content-between align-items-start">
                          <div class="color-card">
                            <p class="mb-0 color-card-head">Maintenance</p><br>
                            <h2 class="text-white"> ₹{{sm.get_dues_rs}}.<span class="h5">{{sm.get_dues_ps}}</span>
                            </h2>
                          </div>
                          <i class="card-icon-indicator mdi mdi-cash-multiple" style="background-color: rgb(120, 190, 252);"></i>
                        </div>
                        <h6 class="text-white">Pay your bills online...</h6>
                        <h6 class="text-white">Enjoy a hazlefree experience</h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
                    <div class="card bg-success" style="background-image: linear-gradient(45deg,var(--cui-info-start,#39f) 0%,var(--cui-info-stop,#00cccd 100%));">
                      <div class="card-body px-3 py-4">
                        <div class="d-flex justify-content-between align-items-start">
                          <div class="color-card">
                            <p class="mb-0 color-card-head">Complaint Box</p><br>
                            <h2 class="text-white"> 5 <span class="h5">unresolved</span>
                            </h2>
                          </div>
                          <i class="card-icon-indicator mdi mdi-format-list-bulleted bg-inverse-icon-primary" style="background-color: #115bbb;"></i>
                        </div>
                        <h6 class="text-white">10 complaints registered</h6>
                        <h6 class="text-white">5 complaints resolved</h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3 pb-lg-0 pb-xl-3">
                    <div class="card bg-warning" style="background-image: linear-gradient(45deg,var(--cui-warning-start,#f9b115) 0%,var(--cui-warning-stop,#ac6809 100%));">
                      <div class="card-body px-3 py-4">
                        <div class="d-flex justify-content-between align-items-start">
                          <div class="color-card">
                            <p class="mb-0 color-card-head">Notice Board</p><br>
                            <h2 class="text-white"> {{new_notices}} <span class="h5"> new notices</span>
                            </h2>
                          </div>
                          <i class="card-icon-indicator mdi mdi-clipboard-outline" style="background-color: #f7c863;"></i>
                        </div>
                        <h6 class="text-white">{{last_notices}} notices since last month</h6>
                        <h6 class="text-white">{{noticecount}} total notices till date</h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3 pb-lg-0 pb-xl-3">
                    <div class="card bg-danger" style="background-image: linear-gradient(45deg,var(--cui-danger-start,#8f63f7) 0%,var(--cui-danger-stop,#4411bb 100%));">
                      <div class="card-body px-3 py-4">
                        <div class="d-flex justify-content-between align-items-start">
                          <div class="color-card">
                            <p class="mb-0 color-card-head">Online Polls</p><br>
                              <h2 class="text-white"> 0 <span class="h5"> active polls</span>
                          </div>
                          <i class="card-icon-indicator mdi mdi-chart-bar" style="background-color: rgb(158, 82, 168);"></i>
                        </div>
                        <h6 class="text-white">No active polls as of now </h6>
                        <h6 class="text-white">Total polls responded: 10</h6>
                      </div>
                    </div>
                  </div>
                </div>
{% endblock content %}